.conteiner {
  width: 490px;
  margin: 0 auto;
}

.parent {
  height: 300px;
  width: 300px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.children {
  height: 150px;
  width: 150px;
  background-color: gray;
}
.imgConteiner {
  text-align: center;
}

img {
  display: none;
  width: 500px;
  height: 500px;
}
